.btn-search svg{
    margin-left: 7px;
}
.btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stock-code_value{
    text-align: center;
    text-transform: uppercase;
}
.search.card-container{
    padding: 10px;
    font-size: 13px;
    height: calc(43% - 10px);
}

.search.card-container .card-body{
    padding: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width:991px){
    .search.card-container,
    .filter.card-container{
        margin-bottom: 20px;
        min-height: 160px;
    }
}
